<div class="body">
    <h1 class="pageHead">Калькулятор</h1>
    <input [(ngModel)]="firstOperand" type="number" class="firstOperand">
    <select [(ngModel)]="operator" class="Operator">
        <option value="-">-</option>
        <option value="+">+</option>
        <option value="/">/</option>
        <option value="*">*</option>
    </select>
    <input [(ngModel)]="secondOperand" type="number" class="secondOperator">
    <input (click)="doCalc()" type="submit" value="Подтвердить" class="button" class="Submit">
    <p class="Result">Результат: {{ result }}</p>
    <p class="Failure">Текст ошибки: {{ errorMessage }}</p>
</div>