.body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "opone op optwo"
      "submit submit submit"
      "res res res"
      "fail fail fail";
    grid-template-rows:5em 100px 100px 1em 1em;  
    grid-template-columns: 45% 10% 45%;
    grid-row-gap: 5px;
    grid-column-gap: 2px;
    height: 100vh;
    margin: 0;
}  
@media screen and (max-width: 1350px) {
    .body { 
      grid-template-areas: 
        "header"
        "opone"
        "op"
        "optwo"
        "submit"
        "res"
        "fail";
      grid-template-rows: 80px 1fr 70px 1fr 70px;  
      grid-template-columns: 1fr;
   }
}
.pageHead {
    grid-area: header;
    height: 5em;
    text-align: center;
    }
.firstOperand {
    grid-area: opone;
    }
.Operator { 
    grid-area: op; 
    }
.seconOperand { 
    grid-area: optwo; 
    }
.Submit { 
    grid-area: submit; 
    } 
.Result { 
    grid-area: res; 
    } 
.Failure { 
    grid-area: fail;
    } 
