.base{
  background-color:#242424;
  margin:auto;
  text-align: center;
}
.form{
  color:whitesmoke;
  background-color:#2f2f2f;
  width: 25em;
  height: 2em;
}
.form:focus{
  color:#2f2f2f;
  background-color: whitesmoke;
}
.form:active{
  color: whitesmoke;
  background-color:#2e2e2e;
}

.button{
  color:whitesmoke;
  background-color: #2e2e2e;
  width: 15em;
  height: 3em;
}

.button:hover{
  color:#2e2e2e;
  background-color: whitesmoke;
}
.img{
  height:32px;
  width:32px;
}
@media screen and (max-width:1325px){
  .form{
    color:whitesmoke;
    background-color:#2f2f2f;
    width: 15em;
    height: 3em;

  }
  .img{
    height:150px;
    width:150px;
  }
  .button{
    color:whitesmoke;
    background-color: #2e2e2e;
    width: 15em;
    height: 5em;
  }
}
