.base{
  background-color:#242424;
  margin:auto;
  text-align: center
}
.form{
  color:whitesmoke;
  background-color:#2f2f2f;
}
.form:focus{
  color:#2f2f2f;
  background-color: whitesmoke;
}
.form:active{
  color: whitesmoke;
  background-color:#2e2e2e;
}

.button{
  color:whitesmoke;
  background-color: #2e2e2e;
}

.button:hover{
  color:#2e2e2e;
  background-color: whitesmoke;
}

